@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0;
  background: #182531;
  /* body will cover 100% of window space */
  height: 100vh;
  /* align the slides properly */
  display: flex;
  /* center all elements */
  justify-content: center;
  /* center all elements also vertically */
  align-items: center;

}
h1 {
  margin: 200px 40px 0px 40px;
  color: hsl(303, 98%, 51%);
  text-shadow: 2px 2px black;
}

.container {
  width: 100%;
  display: flex;
  padding: 0 20px;
}

.slide {
  /* 80vh - 80% from the visible part of the screen; responsive! */
  height: 80vh;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  /* for text */
  color: hsl(303, 98%, 51%);
  /* so that each element is stretched proportionally */
  flex: 1;
  /* so that each of the headings is positioned relative to each of the slides */
  position: relative;

  /* picture positioning */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  transition: all 500ms ease-in-out;
}

.slide h3 {
  position: absolute;
  font-size: 34px;
  text-shadow: 2px 2px #182531;
  /* will place text to the bottom */
  bottom: 20px;
  left: 20px;
  /* remove defailt indentation */
  margin: 0;
  /* when card is not active don't display header; */
  opacity: 0;
}

.slide.active {
  flex: 10;
}

.slide.active h3 {
  opacity: 1;
  /* animation; 0.4s delay for header to appear */
  transition: opacity 0.3s ease-in 0.4s;
}
